# Python
# - Byte-compiled / optimized / DLL files
# - Thanks to: https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]
*$py.class


# Eclipse
# - Thanks to: https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore 
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch


# Emacs temporary
*~
\#*\#
